$header-text-color: #fff;
$header-background: #3B5998;
$button-hover: #2196F3;

.header {
  background-color: $header-background;
  color: $header-text-color;
  padding: 15px;
  &__logo-area {
    width: 20%;
    display: inline-block;
    color: $header-text-color;
    &--link {
      color: $header-text-color;
      text-decoration: none;
      font-size: 20px;
    }
  }
  &__menu {
    width: 20%;
    display: inline-block;
    border-right: 1px solid rgba(255,255,255,0.5);
    text-align: right;
    padding-right: 20px;
    &--list {
      display: inline-block;
      &-item {
        display: inline-block;
        margin-right:20px;
        &-link {
          font-size: 14px;
          color: $header-text-color;
          text-decoration: none;
        }
      }
    }
  }
  &__icon-links {
    width: 20%;
    display: inline-block;
    padding-left: 20px;
    &--quick-options {
      border-right: 1px solid rgba(255,255,255,0.5);
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      &-item {
        display: inline-block;
        margin-right: 10px;
        &-link {
          font-size: 16px;
          color: $header-text-color;
          text-decoration: none;
        }
      }
    }
  }
  
  &__privacy {
    display: inline-block;
    padding-left: 20px;
    &--link {
      color: $header-text-color;
    }
  }
  &__search-area {
    width: 40%;
    display: inline-block;
    text-align: right;
    & ::placeholder{
      color: rgba(255,255,255,0.5);
    }
    &--list {
      display: inline-block;
      &-item {
        display: inline-block;
        & input[type="text"]{
          background-color: $header-background;
          border: none;
          border-bottom: 1px solid rgba(255,255,255,0.5);
          &:focus {
            outline: none;
          }
        }
        & input {
          caret-color: $header-text-color;
        }
      }
    }
  }
}

.top-area {
  padding: 200px 15px 90px 15px;
  background: url(../img/mountain-view.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &__profile-info {
    padding: 10px;
    display: inline-block;
  }
  &__user-img {
    display: inline-block;
    &--border-circle {
      border-radius: 50%;
    }
  }
  &__user-details {
    vertical-align: top;
    display: inline-block;
    padding-left: 20px;
    &--header {
      color: #fff;
      font-size: 24px;
      font-weight: 100;
      margin-top: 40px;
      margin-bottom: 10px;
    }
    &--link {
      background-color: rgba(255,255,255,.3);
      display: inline-block;
      margin-left: -4px;
      margin-right: 5%;
      width: 45%;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-size: 10px;
      padding:10px;
      border-radius: 3px;
      transition: background .4s ease-in-out;
      &:hover {
        background: $button-hover;
      }
    }
  }
}

.content-area {
  &__side-column {
    float: left;
    width: 35%;
    margin: 0 2.5%;
  }
  &__main-area {
    float: left;
    width: 55%;
    margin: 0 2.5%;
  }
  &__widget-box {
    &--intro {
      
    }
  }
}